.img {
    background-image: url("https://i.pinimg.com/originals/9e/ce/a1/9ecea162adb39aa8f720485abba466f6.gif");
    background-repeat: repeat-x;
    background-size: 120px;
    height: 150px;
}

.bar {
    position: relative;
}

.deleteBtn {
    background-color: red;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    right: 30px
}

.refreshBtn {
    background-color: yellow;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 10px;